# Configuration de la base de données
DB_HOST=localhost
DB_PORT=5432
DB_NAME=katooling_main_system
DB_USER=postgres
DB_PASSWORD=Katulaa_33

# Configuration du serveur
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8001

# Clé secrète pour JWT (à changer en production)
SECRET_KEY=votre_clé_secrète_très_longue_et_complexe
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
